.about-wrap{
  width: 100%;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-image: linear-gradient(to top, $sub-color 0%, $text-white 100%);
  background-color: $text-white;
  .about-basic{
    width: 870px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    @include responsive($breakpoint-large){
      width: 90%;
      margin: 0 auto;
    }
    @include responsive($breakpoint-medium){
      width: 80%;
      align-items: center;
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
      h2{text-align: center;}
    }
    @include responsive($breakpoint-medium){
      gap: 2rem;
    }
    img{
      width: 260px; height: 260px;
      object-fit: cover;
      border-radius: 50%;
    }
    .about-txt{
      flex: 1;
      h2{
        font-size: $font-size-medium;
        margin-bottom: 1rem;
        span{
          color: $primary-color;
        }
      }
      p{
        font-size: $font-size-small;
      }
      @include responsive($breakpoint-small) {
        width: 100%;
      }
    }
  }
  .about-more-btn{
    width: 200px; height: 3rem;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
    background-color: $text-black;
    color: $text-white;
    border-radius: 0.4rem;
    &:hover{
      background-color: $primary-color;
    }
    span{
      margin-left: 0.4rem;
      font-size: $font-size-small;
      line-height: 1;
    }
  }
  .about-plus{
    gap: 2rem;
    margin-top: 6rem;
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    @include responsive($breakpoint-large){
      width: 90%;
    }
    @include responsive($breakpoint-medium){
      width: 80%;
      align-items: center;
      flex-direction: column;
      margin-top: 4rem;
      .skills, .experience{
        width: 100%;
      }
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
    .skills, .experience{
      background-color: #fff;
      padding: 4rem;
      box-sizing: border-box;
      flex: 1;
      border: 2px solid $text-gray;
      @include responsive($breakpoint-small) {
        padding: 3rem 2rem;
      }
      h3{
        font-size: $font-size-medium;
        span{
          color: $primary-color;
        }
      }
      ul{
        margin-top: 2rem;
      }
    }
    .skills{
      h4{
        font-size: 1.2rem;
      }
      li{
        list-style: disc;
        margin: 0.5rem 0 0.5rem 1.6rem;
      }
      .skills-icon{
        padding: 0;
        margin-top: 1rem;
        img{
          width: 3rem; height: 3rem;
          object-fit: contain;
          margin-left: 0.6rem;
        }
      }
    }
    .experience{
      .ex-step{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: stretch;
        .ex-date{
          width: 89px;
          min-width: 89px;
          max-width: 89px;
          flex-grow: 1;
        }
        .ex-deco{
          width: 14px;
          min-width: 14px;
          max-width: 14px;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          top: 5px;
          flex-grow: 1;
          margin: 0 8px;
          .circle{
            width: 10px; height: 10px;
            border-radius: 100%;
            border: 2px solid $sub-color;
          }
          .line{
            width: 2px; height: 100%;
            background-color: $sub-color;
          }
        }
        .ex-txt{
          flex-grow: 1;
          margin-bottom: 1rem;
          width: 100%;
          span:first-child{
            font-size: $font-size-small;
            font-weight: 600;
            color: $text-black;
          }
          span{
            color: $text-gray;
            font-size: 14px;
          }
        }
        &:first-child{
          .circle{
            background-color: $sub-color;
          }
        }
        &:last-child{
          .line{
            display: none;
          }
        }
      }
    }
  }
}