//color
$primary-color: #8C3F23;
$sub-color: rgba($color: #69868C, $alpha: 0.5);

$text-black:#000;
$text-gray:#888;
$text-white:#fff;

//font size
$font-size-large: 90px;
$font-size-medium: 32px;
$font-size-regular: 24px;
$font-size-small: 16px;

//responsive
$breakpoint-large: 1200px;
$breakpoint-medium: 900px;
$breakpoint-small: 700px;
