.contact-wrap{
  width: 100%;
  background-color: $text-black;
  color: $text-white;
  .contact-txt{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include responsive($breakpoint-large){
      width: 100%;
    }
    @include responsive($breakpoint-small){
      flex-direction: column;
      padding: 3rem 0;
    }
    li{
      flex: 1;
      text-align: center;
      padding: 3rem 0;
      display: flex;
      justify-content: center;
      gap: 2rem;
      @include responsive($breakpoint-small){
        gap: 1rem;
        padding: 1rem 0;
      }
    }
  }
  .copyright{
    text-align: center;
    padding: 3rem;
  }
}