.intro-wrap{
  color: $text-white;
  text-align: left;
  width: 100%;
  background-image: url(../../public/images/intro-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
  position: relative;
  @include responsive($breakpoint-large){
    // background-size: auto;
    background-position: 50% 50%;
  }
  .intro-txt{
    width: 100%;
    text-align: center;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    word-break: keep-all;
    @include responsive($breakpoint-small){
      padding: 0 2rem;
      width: 80%;
      text-align: left;
    }
    h1{
      font-size: $font-size-large;
      line-height:1;
      @include responsive($breakpoint-small){
        display: none;
      }
    }
    .m-title{
      display: none;
      @include responsive($breakpoint-small){
        display: block;
        line-height:1;
      }
    }
    p{
      width: 460px;
      font-size: $font-size-small;
      margin: 2rem auto 0;
      text-align: center;
      @include responsive($breakpoint-small){
        width: 100%;
        max-width: 340px;
        margin: 2rem 0 0;
        text-align: left;
      }
    }
  }
}